body {
    font-family: sans-serif;
    background-color: black;
    color: black;
    text-align: right;
    font-size: 30px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 280px;
}

.header {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#result {
    height: 35px;
    background-color: lightgray;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}

.function-buttons,
.number-buttons,
.operator-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.function-buttons>button {
    background-color: aqua;
    margin: 5px;
    border: none;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
}

.operator-buttons>button {
    background-color: pink;
    margin: 5px;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
}

.number-buttons>button {
    margin: 5px;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
}